<?xml version="1.0"?>
<config>
    <modules>
        <Elsner_Storelocator>
            <version>0.1.0</version>
        </Elsner_Storelocator>
    </modules>
    <frontend>
        <routers>
            <storelocator>
                <use>standard</use>
                <args>
                    <module>Elsner_Storelocator</module>
                    <frontName>storelocator</frontName>
                </args>
            </storelocator>
        </routers>
        <layout>
            <updates>
                <storelocator>
                    <file>storelocator.xml</file>
                </storelocator>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<storelocator>
				<use>admin</use>
				<args>
					<module>Elsner_Storelocator</module>
					<frontName>storelocator</frontName>
				</args>
			</storelocator>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<storelocator module="storelocator">
				<title>Storelocator</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="storelocator">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>storelocator/adminhtml_storelocator</action>
					</items>
				</children>
			</storelocator>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Elsner_Storelocator>
							<title>Storelocator Module</title>
							<sort_order>10</sort_order>
						</Elsner_Storelocator>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<storelocator>
					<file>storelocator.xml</file>
				</storelocator>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <storelocator>
                <class>Elsner_Storelocator_Model</class>
                <resourceModel>storelocator_mysql4</resourceModel>
            </storelocator>
            <storelocator_mysql4>
                <class>Elsner_Storelocator_Model_Mysql4</class>
                <entities>
                    <storelocator>
                        <table>storelocator</table>
                    </storelocator>
                </entities>
            </storelocator_mysql4>
        </models>
        <resources>
            <storelocator_setup>
                <setup>
                    <module>Elsner_Storelocator</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </storelocator_setup>
            <storelocator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </storelocator_write>
            <storelocator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </storelocator_read>
        </resources>
        <blocks>
            <storelocator>
                <class>Elsner_Storelocator_Block</class>
            </storelocator>
        </blocks>
        <helpers>
            <storelocator>
                <class>Elsner_Storelocator_Helper</class>
            </storelocator>
        </helpers>
    </global>
</config>